$dark-yellow: #fbb030;
$orange: #f36f36;
$grey-dark: rgb(33, 33, 33);
$white: #fff;
$light-grey: #f8f8f8;
$grey-white: rgb(233, 229, 229);
$dark-blue: #0c263e;
$light-blue: #6b299c;

.bg-light-grey{
    background-color: $light-grey !important;
}
.bg-orange{
    background-color: $orange !important;
}

.bg-dark-blue{
    background-color: $dark-blue !important;
}