@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.bg-light-grey {
  background-color: #f8f8f8 !important;
}

.bg-orange {
  background-color: #f36f36 !important;
}

body {
  color: #212121;
  background-color: #f8f8f8;
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body .container {
  max-width: 1188px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
body .top-ad1 {
  background-color: #fbb030 !important;
}
body header nav .navbar-nav .nav-item .nav-link {
  color: #212121;
  padding-left: 30px;
  text-transform: uppercase;
}
body header nav .navbar-nav .nav-item .nav-link:hover {
  color: #f36f36;
  text-decoration: underline;
}
body header nav .navbar-nav .nav-item .nav-link.active {
  color: #f36f36;
}
body header .bottom-navbar .header-logo img {
  width: 135px;
  height: 41px;
}
body header .bottom-navbar input {
  padding: 5px 15px;
  border: none;
}
body header .bottom-navbar .input-group-text {
  padding: 0 10px;
}
body header .bottom-navbar i {
  font-size: 25px;
  line-height: 45px;
}
body header .bottom-navbar a {
  line-height: 45px;
  align-self: center;
}
body .menu-container {
  position: relative;
}
body .menu-container .side-menu {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  width: 200px;
  height: 400px;
  margin: 0;
  padding: 0;
}
body .menu-container .side-menu li {
  list-style: none;
}
body .menu-container .side-menu li a {
  width: 100%;
  color: #212121;
  text-decoration: none;
  padding: 7px;
  display: inline-block;
}
body .menu-container .side-menu li a:hover {
  color: #12c0d3;
  position: relative;
  background-color: #f8f8f8;
}
body .menu-container .side-menu li a:hover:after {
  content: "";
  position: absolute;
  bottom: -5px;
  font-weight: 900;
  right: 10px;
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
}
body .menu-container .side-menu li.has-submenu {
  position: relative;
}
body .menu-container .side-menu li.has-submenu:hover .submenu {
  display: block;
}
body .menu-container .side-menu li.has-submenu .submenu {
  display: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  width: 200px;
  height: 400px;
  position: absolute;
  left: 200px;
  top: 0;
}
body .banner .img-container1 {
  background-color: #f8f8f8;
}
body .banner .slide1 {
  background-color: #0c263e;
}
body .banner .slide2 {
  background-color: #f8d09a;
}
body .banner .slide3 {
  background-color: #ffac10;
}
body .banner .slide4 {
  background-color: #6d2ca0;
}
body .banner .slide5 {
  background-color: #fc5697;
}
body .banner .slide6 {
  background-color: #eff0f5;
}
body .banner .slide7 {
  background-color: #94e1ea;
}
body .banner .slide8 {
  background-color: #94e1ea;
}
body .banner .carousel-indicators [data-bs-target] {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}
body main {
  background-color: #f8f8f8;
}
body main .ad-2 {
  display: block;
  overflow: hidden;
  height: 176px;
  background-image: url(//icms-image.slatic.net/images/ims-web/05d18d5e-cd7c-459e-8a23-26ab53f0ce16.gif);
  background-repeat: no-repeat;
  background-position-x: center;
}
body .channels .channels-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .channels .channels-group a {
  margin-top: 10px;
  display: inline-block;
  padding: 0px 4px;
  width: 18%;
  color: #212121;
  line-height: 46px;
  background-color: white;
  border-radius: 30px;
  border-color: #dcd2d2;
  text-decoration: none;
  font-size: 18px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
body .channels .channels-group a img {
  width: 30px;
}
body .channels .channels-group a:hover {
  color: #6b299c;
  position: relative;
}
body .channels .channels-group a:hover:after {
  content: "";
  position: absolute;
  bottom: 0px;
  font-weight: 900;
  right: 10px;
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
}
body .flash-sell {
  font-size: 22px;
  color: #424242;
}/*# sourceMappingURL=style.css.map */