@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'vars';
@import 'count_down';

body {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    color: rgb(33, 33, 33);
    background-color: $light-grey;

    .container {

        max-width: 1188px;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
    }

    .top-ad1 {
        background-color: $dark-yellow !important;

    }

    header {
        &.sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 3;
            box-shadow: 0px 3px 18px -8px;
            transition: 0.3s;
        }

        nav {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: rgb(33, 33, 33);
                        padding-left: 30px;
                        text-transform: uppercase;

                        &:hover {
                            color: $orange;
                            text-decoration: underline;
                        }

                        &.active {
                            color: $orange;
                        }
                    }
                }
            }
        }

        .bottom-navbar {
            .header-logo {
                img {
                    width: 135px;
                    height: 41px;
                }
            }

            input {
                padding: 5px 15px;
                border: none;
            }

            .input-group-text {
                padding: 0 10px;
            }

            i {
                font-size: 25px;
                line-height: 45px;
            }

            a {
                line-height: 45px;
                align-self: center;
            }
        }
    }

    .menu-container {
        position: relative;

        .side-menu {
            position: absolute;
            z-index: 2;
            background-color: $white;
            width: 200px;
            height: 340px;
            margin: 0;
            padding: 0;
            top: 16px;

            li {
                list-style: none;

                a {
                    width: 100%;
                    color: $grey-dark;
                    text-decoration: none;
                    padding: 5px 7px;
                    display: inline-block;

                    &:hover {
                        color: #12c0d3;
                        position: relative;
                        background-color: $light-grey;

                        &:after {
                            content: '\f105';
                            position: absolute;
                            bottom: -5px;
                            font-weight: 900;
                            right: 10px;
                            font-family: "Font Awesome 5 Free";
                            font-size: 25px;
                        }
                    }
                }

                &.has-submenu {
                    position: relative;

                    &:hover {
                        .submenu {
                            display: block;
                        }
                    }

                    .submenu {
                        display: none;
                        margin: 0;
                        padding: 0;
                        background-color: $white;
                        width: 200px;
                        height: 340px;
                        position: absolute;
                        left: 200px;
                        top: 0;
                    }
                }
            }

        }
    }

    .banner {
        .img-container1 {
            background-color: $light-grey;
        }

        .carousel-item .container {
            padding-left: 200px;

        }

        .slide1 {
            background-color: #0c263e;
        }

        .slide2 {
            background-color: rgb(248, 208, 154);
        }

        .slide3 {
            background-color: rgb(255, 172, 16);
        }

        .slide4 {
            background-color: rgb(109, 44, 160)
        }

        .slide5 {
            background-color: rgb(252, 86, 151);
        }

        .slide6 {
            background-color: rgb(239, 240, 245);
        }

        .slide7 {
            background-color: rgb(148, 225, 234);
        }

        .slide8 {
            background-color: rgb(148, 225, 234);
        }

        .carousel-indicators [data-bs-target] {
            height: 10px;
            width: 10px;
            border-radius: 100%;
        }
    }


    main {
        background-color: $light-grey;

        .ad-2 {
            display: block;
            overflow: hidden;
            height: 176px;
            background-image: url(//icms-image.slatic.net/images/ims-web/05d18d5e-cd7c-459e-8a23-26ab53f0ce16.gif);
            background-repeat: no-repeat;
            background-position-x: center
        }
    }

    .channels {
        .channels-group {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            a {
                margin-top: 10px;
                display: inline-block;
                padding: 0px 4px;
                width: 18%;
                color: $grey-dark;
                line-height: 46px;
                background-color: white;
                border-radius: 30px;
                border-color: rgb(220, 210, 210);

                img {
                    width: 30px;
                }

                text-decoration: none;
                font-size: 18px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);

                &:hover {
                    color: $light-blue;
                    position: relative;

                    &:after {
                        content: '\f105';
                        position: absolute;
                        bottom: 0px;
                        font-weight: 900;
                        right: 10px;
                        font-family: "Font Awesome 5 Free";
                        font-size: 25px;
                    }

                }
            }
        }
    }

    .flash-sell {
        font-size: 22px;
        color: #424242;

        .sell-container {
            .container {
                .first-row {

                    .first,
                    .last {

                        line-height: 34px;
                        color: $orange;

                    }

                    text-align: right;
                    border-bottom: 1px solid $grey-white;

                    a {
                        border: 1px solid $orange;
                        padding: 10px 15px;
                        color: $orange;
                        display: inline-block;
                        text-decoration: none;
                    }
                }

                .card-container {
                    .card {
                        border: none;

                        &:hover {
                            box-shadow: 0px 3px 18px -8px;
                        }

                        .img-container {
                            img {
                                width: 100%;
                                margin-bottom: 4px;
                            }
                        }

                        .card-bottom {
                            padding: 0px 0px 20px 10px;

                            .card-title {
                                color: $grey-dark;
                                font-size: 15px;
                                line-height: 18px;
                            }

                            .card-price {
                                color: $orange;
                                font-size: 18px;

                            }

                            .card-discounted-price {
                                .deleted-price {
                                    color: grey;
                                }
                            }
                        }
                    }

                }
            }
        }
    }

    .categories {

        .card-container {

            .first-row,
            .second-row {

                display: flex;
                flex-wrap: wrap;

                :first-child {
                    .card {
                        border-left: none;
                    }
                }

                :last-child {
                    .card {
                        border-right: none;
                    }
                }

            }

            .first-row {
                .card {
                    border-top: none;

                }
            }

            .second-row {
                .card {
                    border-bottom: none;
                }
            }

            a {
                color: $grey-dark;
                text-decoration: none;
                font-size: 15px;
                width: 145.3px;
                height: 147.7px;

                .card {
                    border-radius: 0px;
                    padding: 20px;
                    width: 100%;
                    height: 100%;

                    &:hover {
                        box-shadow: 0px 3px 18px -8px;
                    }

                    .text-card {
                        font-size: 13px;
                    }
                }
            }

        }
    }

    .daraz-mall {
        font-size: 22px;
        color: #424242;

        .card-container {
            .card {
                border: none;
                position: relative;

                &:hover {
                    box-shadow: 0px 3px 18px -8px;
                }

                .img-container {
                    img {
                        width: 100%;
                        margin-bottom: 4px;
                    }
                }

                .card-bottom {
                    padding: 20px 0px 20px 10px;
                    text-align: center;

                    .card-title1 {
                        color: $grey-dark;
                        font-size: 15px;
                        line-height: 18px;
                    }

                    .card-title2 {
                        color: #8e8b8b;
                        font-size: 12px;

                    }


                }

                .card-logo {
                    position: absolute;
                    align-self: center;
                    background-color: white;
                    bottom: 70px;
                    height: 50px;
                    width: 50px;
                    padding: 3px;

                    img {
                        width: 100% !important;
                    }

                    box-shadow: 0px 3px 18px -8px;
                }
            }

        }


    }

    .Just-For-You {
        font-size: 22px;
        color: #424242;

        .card-container {
            .card {
                border: none;

                &:hover {
                    box-shadow: 0px 3px 18px -8px;
                }

                .img-container {
                    img {
                        width: 100%;
                        margin-bottom: 4px;
                    }
                }

                .card-bottom {
                    padding: 20px 0px 20px 10px;

                    .card-title {
                        color: $grey-dark;
                        font-size: 15px;
                        line-height: 18px;
                    }

                    .card-price {
                        color: $orange;
                        font-size: 18px;

                    }

                    .card-discounted-price {
                        .deleted-price {
                            color: grey;
                        }
                    }

                    .star-group {
                        i {
                            color: #faca51;
                        }

                        span {
                            color: #8e8b8b;
                        }
                    }
                }
            }
        }
    }

    button {
        margin: auto;
        display: block;
        width: 387px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        color: #1a9cb8;
        border: 1px solid #1a9cb8;
        text-transform: uppercase;
        cursor: pointer;
    }

    footer {
        .footer-top {
            background-color: #2e2e54;
            color: $white;

            ul {
                padding-left: 0px;

                li {
                    list-style: none;

                    a {
                        color: $white;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .top-img-footer {
                .footer-logo {
                    padding-top: 48px;

                    img {
                        width: 30%;
                        border-radius: 10px;
                    }
                }
            }
        }

        .footer-middle {
            .social-icon {
                i {
                    border-radius: 100%;
                    text-align: center;
                    align-self: center;
                }

                .facebook {
                    color: rgb(96, 96, 245);
                    border: 1px solid rgb(96, 96, 245);
                }

                .instagram {
                    color: rgb(235, 31, 116);
                    border: 1px solid rgb(235, 31, 116);
                }

                .youtube {
                    color: rgb(165, 44, 44);
                    border: 1px solid rgb(165, 44, 44);
                }
            }
        }

        .footer-buttom {
            background-color: $light-grey;

            h5 {
                color: #535151;
            }

            p {
                color: grey;
            }

            h6 {
                color: grey;
            }

            span {
                color: rgb(68, 157, 157);
            }

            .links,
            .third-col,
            .fourth-col {
                a {
                    color: grey;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@import 'sell';
@import 'responsive';