@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'vars';
@import 'utility';


body {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    color: rgb(33, 33, 33);
    background-color: $light-grey;

    .container {
        // width: 77% !important;
        max-width: 1188px;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
    }

    .top-ad1 {
        background-color: $dark-yellow !important;

    }

    header {
        nav {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: rgb(33, 33, 33);
                        padding-left: 30px;
                        text-transform: uppercase;

                        &:hover {
                            color: $orange;
                            text-decoration: underline;
                        }

                        &.active {
                            color: $orange;
                        }
                    }
                }
            }
        }

        .bottom-navbar {
            .header-logo {
                img {
                    width: 135px;
                    height: 41px;
                }
            }

            input {
                padding: 5px 15px;
                border: none;
            }

            .input-group-text {
                padding: 0 10px;
            }

            i {
                font-size: 25px;
                line-height: 45px;
            }

            a {
                line-height: 45px;
                align-self: center;
            }
        }
    }

    .menu-container {
        position: relative;

        .side-menu {
            position: absolute;
            z-index: 2;
            background-color: $white;
            width: 200px;
            height: 400px;
            margin: 0;
            padding: 0;

            li {
                list-style: none;

                a {
                    width: 100%;
                    color: $grey-dark;
                    text-decoration: none;
                    padding: 7px;
                    display: inline-block;

                    &:hover {
                        color: #12c0d3;
                        position: relative;
                        background-color: $light-grey;

                        &:after {
                            content: '\f105';
                            position: absolute;
                            bottom: -5px;
                            font-weight: 900;
                            right: 10px;
                            font-family: "Font Awesome 5 Free";
                            font-size: 25px;
                        }
                    }
                }

                &.has-submenu {
                    position: relative;

                    &:hover {
                        .submenu {
                            display: block;
                        }
                    }

                    .submenu {
                        display: none;
                        margin: 0;
                        padding: 0;
                        background-color: $white;
                        width: 200px;
                        height: 400px;
                        position: absolute;
                        left: 200px;
                        top: 0;
                    }
                }
            }

        }
    }

    .banner {
        .img-container1 {
            background-color: $light-grey;
        }

        .slide1 {
            background-color: #0c263e;
        }

        .slide2 {
            background-color: rgb(248, 208, 154);
        }

        .slide3 {
            background-color: rgb(255, 172, 16);
        }

        .slide4 {
            background-color: rgb(109, 44, 160)
        }

        .slide5 {
            background-color: rgb(252, 86, 151);
        }

        .slide6 {
            background-color: rgb(239, 240, 245);
        }

        .slide7 {
            background-color: rgb(148, 225, 234);
        }

        .slide8 {
            background-color: rgb(148, 225, 234);
        }

        .carousel-indicators [data-bs-target] {
            height: 10px;
            width: 10px;
            border-radius: 100%;
        }
    }


    main {
        background-color: $light-grey;

        .ad-2 {
            display: block;
            overflow: hidden;
            height: 176px;
            background-image: url(//icms-image.slatic.net/images/ims-web/05d18d5e-cd7c-459e-8a23-26ab53f0ce16.gif);
            background-repeat: no-repeat;
            background-position-x: center
        }
    }

    .channels {
        .channels-group {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            a {
                margin-top: 10px;
                display: inline-block;
                padding: 0px 4px;
                width: 18%;
                color: $grey-dark;
                line-height: 46px;
                background-color: white;
                border-radius: 30px;
                border-color: rgb(220, 210, 210);

                img {
                    width: 30px;
                }

                text-decoration: none;
                font-size: 18px;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
                &:hover {
                    color: $light-blue;
                    position: relative;
                    &:after {
                        content: '\f105';
                        position: absolute;
                        bottom: 0px;
                        font-weight: 900;
                        right: 10px;
                        font-family: "Font Awesome 5 Free";
                        font-size: 25px;
                    }

                }
            }

            // display: flex;
            // justify-content: space-between;

            // .mall {
            //     // padding: 9px 76px 3px 3px;
            //     background-color: white;
            //     border-radius: 30px;
            //     border-color: rgb(220, 210, 210);
            //     margin: 25px 0px;
            //     width: 20%;

            //     &:hover {
            //         box-shadow: 2px 2px 11px 0px;
            //     }

            //     a {
            //         color: $grey-dark;
            //         text-decoration: none;
            //         display: block;

            //         span {

            //             line-height: 32.8px;
            //             display: inline-block;
            //         }

            //     }

            //     a:hover {
            //         color: $light-blue;

            //     }

            //     img {
            //         width: 30px;
            //         height: 30px;
            //     }

            //     span {
            //         font-size: 18px;
            //         line-height: 20px;
            //         padding-left: 5px;

            //     }
            // }
        }
    }

    .flash-sell {
        font-size: 22px;
        color: #424242;
    }




}

@import 'responsive';