@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.bg-light-grey {
  background-color: #f8f8f8 !important;
}

.bg-orange {
  background-color: #f36f36 !important;
}

.bg-dark-blue {
  background-color: #0c263e !important;
}

#timer span {
  display: inline-block;
  background-color: #f36f36;
  color: #fff;
  padding: 8px 10px;
}

body {
  color: #212121;
  background-color: #f8f8f8;
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body .container {
  max-width: 1188px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
body .top-ad1 {
  background-color: #fbb030 !important;
}
body header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0px 3px 18px -8px;
  transition: 0.3s;
}
body header nav .navbar-nav .nav-item .nav-link {
  color: #212121;
  padding-left: 30px;
  text-transform: uppercase;
}
body header nav .navbar-nav .nav-item .nav-link:hover {
  color: #f36f36;
  text-decoration: underline;
}
body header nav .navbar-nav .nav-item .nav-link.active {
  color: #f36f36;
}
body header .bottom-navbar .header-logo img {
  width: 135px;
  height: 41px;
}
body header .bottom-navbar input {
  padding: 5px 15px;
  border: none;
}
body header .bottom-navbar .input-group-text {
  padding: 0 10px;
}
body header .bottom-navbar i {
  font-size: 25px;
  line-height: 45px;
}
body header .bottom-navbar a {
  line-height: 45px;
  align-self: center;
}
body .menu-container {
  position: relative;
}
body .menu-container .side-menu {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  width: 200px;
  height: 340px;
  margin: 0;
  padding: 0;
}
body .menu-container .side-menu li {
  list-style: none;
}
body .menu-container .side-menu li a {
  width: 100%;
  color: #212121;
  text-decoration: none;
  padding: 5px 7px;
  display: inline-block;
}
body .menu-container .side-menu li a:hover {
  color: #12c0d3;
  position: relative;
  background-color: #f8f8f8;
}
body .menu-container .side-menu li a:hover:after {
  content: "";
  position: absolute;
  bottom: -5px;
  font-weight: 900;
  right: 10px;
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
}
body .menu-container .side-menu li.has-submenu {
  position: relative;
}
body .menu-container .side-menu li.has-submenu:hover .submenu {
  display: block;
}
body .menu-container .side-menu li.has-submenu .submenu {
  display: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  width: 200px;
  height: 340px;
  position: absolute;
  left: 200px;
  top: 0;
}
body .banner .img-container1 {
  background-color: #f8f8f8;
}
body .banner .carousel-item .container {
  padding-left: 200px;
}
body .banner .slide1 {
  background-color: #0c263e;
}
body .banner .slide2 {
  background-color: #f8d09a;
}
body .banner .slide3 {
  background-color: #ffac10;
}
body .banner .slide4 {
  background-color: #6d2ca0;
}
body .banner .slide5 {
  background-color: #fc5697;
}
body .banner .slide6 {
  background-color: #eff0f5;
}
body .banner .slide7 {
  background-color: #94e1ea;
}
body .banner .slide8 {
  background-color: #94e1ea;
}
body .banner .carousel-indicators [data-bs-target] {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}
body main {
  background-color: #f8f8f8;
}
body main .ad-2 {
  display: block;
  overflow: hidden;
  height: 176px;
  background-image: url(//icms-image.slatic.net/images/ims-web/05d18d5e-cd7c-459e-8a23-26ab53f0ce16.gif);
  background-repeat: no-repeat;
  background-position-x: center;
}
body .channels .channels-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .channels .channels-group a {
  margin-top: 10px;
  display: inline-block;
  padding: 0px 4px;
  width: 18%;
  color: #212121;
  line-height: 46px;
  background-color: white;
  border-radius: 30px;
  border-color: #dcd2d2;
  text-decoration: none;
  font-size: 18px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
body .channels .channels-group a img {
  width: 30px;
}
body .channels .channels-group a:hover {
  color: #6b299c;
  position: relative;
}
body .channels .channels-group a:hover:after {
  content: "";
  position: absolute;
  bottom: 0px;
  font-weight: 900;
  right: 10px;
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
}
body .flash-sell {
  font-size: 22px;
  color: #424242;
}
body .flash-sell .sell-container .container .first-row {
  text-align: right;
  border-bottom: 1px solid #e9e5e5;
}
body .flash-sell .sell-container .container .first-row .first,
body .flash-sell .sell-container .container .first-row .last {
  line-height: 34px;
  color: #f36f36;
}
body .flash-sell .sell-container .container .first-row a {
  border: 1px solid #f36f36;
  padding: 10px 15px;
  color: #f36f36;
  display: inline-block;
  text-decoration: none;
}
body .flash-sell .sell-container .container .card-container .card {
  border: none;
}
body .flash-sell .sell-container .container .card-container .card:hover {
  box-shadow: 0px 3px 18px -8px;
}
body .flash-sell .sell-container .container .card-container .card .img-container img {
  width: 100%;
  margin-bottom: 4px;
}
body .flash-sell .sell-container .container .card-container .card .card-bottom {
  padding: 0px 0px 20px 10px;
}
body .flash-sell .sell-container .container .card-container .card .card-bottom .card-title {
  color: #212121;
  font-size: 15px;
  line-height: 18px;
}
body .flash-sell .sell-container .container .card-container .card .card-bottom .card-price {
  color: #f36f36;
  font-size: 18px;
}
body .flash-sell .sell-container .container .card-container .card .card-bottom .card-discounted-price .deleted-price {
  color: grey;
}
body .categories .card-container .first-row,
body .categories .card-container .second-row {
  display: flex;
  flex-wrap: wrap;
}
body .categories .card-container .first-row :first-child .card,
body .categories .card-container .second-row :first-child .card {
  border-left: none;
}
body .categories .card-container .first-row :last-child .card,
body .categories .card-container .second-row :last-child .card {
  border-right: none;
}
body .categories .card-container .first-row .card {
  border-top: none;
}
body .categories .card-container .second-row .card {
  border-bottom: none;
}
body .categories .card-container a {
  color: #212121;
  text-decoration: none;
  font-size: 15px;
  width: 145.3px;
  height: 147.7px;
}
body .categories .card-container a .card {
  border-radius: 0px;
  padding: 20px;
  width: 100%;
  height: 100%;
}
body .categories .card-container a .card:hover {
  box-shadow: 0px 3px 18px -8px;
}
body .categories .card-container a .card .text-card {
  font-size: 13px;
}
body .daraz-mall {
  font-size: 22px;
  color: #424242;
}
body .daraz-mall .card-container .card {
  border: none;
  position: relative;
}
body .daraz-mall .card-container .card:hover {
  box-shadow: 0px 3px 18px -8px;
}
body .daraz-mall .card-container .card .img-container img {
  width: 100%;
  margin-bottom: 4px;
}
body .daraz-mall .card-container .card .card-bottom {
  padding: 20px 0px 20px 10px;
  text-align: center;
}
body .daraz-mall .card-container .card .card-bottom .card-title1 {
  color: #212121;
  font-size: 15px;
  line-height: 18px;
}
body .daraz-mall .card-container .card .card-bottom .card-title2 {
  color: #8e8b8b;
  font-size: 12px;
}
body .daraz-mall .card-container .card .card-logo {
  position: absolute;
  align-self: center;
  background-color: white;
  bottom: 70px;
  height: 50px;
  width: 50px;
  padding: 3px;
  box-shadow: 0px 3px 18px -8px;
}
body .daraz-mall .card-container .card .card-logo img {
  width: 100% !important;
}
body .Just-For-You {
  font-size: 22px;
  color: #424242;
}
body .Just-For-You .card-container .card {
  border: none;
}
body .Just-For-You .card-container .card:hover {
  box-shadow: 0px 3px 18px -8px;
}
body .Just-For-You .card-container .card .img-container img {
  width: 100%;
  margin-bottom: 4px;
}
body .Just-For-You .card-container .card .card-bottom {
  padding: 20px 0px 20px 10px;
}
body .Just-For-You .card-container .card .card-bottom .card-title {
  color: #212121;
  font-size: 15px;
  line-height: 18px;
}
body .Just-For-You .card-container .card .card-bottom .card-price {
  color: #f36f36;
  font-size: 18px;
}
body .Just-For-You .card-container .card .card-bottom .card-discounted-price .deleted-price {
  color: grey;
}
body .Just-For-You .card-container .card .card-bottom .star-group i {
  color: #faca51;
}
body .Just-For-You .card-container .card .card-bottom .star-group span {
  color: #8e8b8b;
}
body button {
  margin: auto;
  display: block;
  width: 387px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #1a9cb8;
  border: 1px solid #1a9cb8;
  text-transform: uppercase;
  cursor: pointer;
}
body footer .footer-top {
  background-color: #2e2e54;
  color: #fff;
}
body footer .footer-top ul {
  padding-left: 0px;
}
body footer .footer-top ul li {
  list-style: none;
}
body footer .footer-top ul li a {
  color: #fff;
  text-decoration: none;
}
body footer .footer-top ul li a:hover {
  text-decoration: underline;
}
body footer .footer-top .top-img-footer .footer-logo {
  padding-top: 48px;
}
body footer .footer-top .top-img-footer .footer-logo img {
  width: 30%;
  border-radius: 10px;
}
body footer .footer-middle .social-icon i {
  border-radius: 100%;
  text-align: center;
  align-self: center;
}
body footer .footer-middle .social-icon .facebook {
  color: #6060f5;
  border: 1px solid #6060f5;
}
body footer .footer-middle .social-icon .instagram {
  color: #eb1f74;
  border: 1px solid #eb1f74;
}
body footer .footer-middle .social-icon .youtube {
  color: #a52c2c;
  border: 1px solid #a52c2c;
}
body footer .footer-buttom {
  background-color: #f8f8f8;
}
body footer .footer-buttom h5 {
  color: #535151;
}
body footer .footer-buttom p {
  color: grey;
}
body footer .footer-buttom h6 {
  color: grey;
}
body footer .footer-buttom span {
  color: #449d9d;
}
body footer .footer-buttom .links a,
body footer .footer-buttom .third-col a,
body footer .footer-buttom .fourth-col a {
  color: grey;
  text-decoration: none;
}
body footer .footer-buttom .links a:hover,
body footer .footer-buttom .third-col a:hover,
body footer .footer-buttom .fourth-col a:hover {
  text-decoration: underline;
}

.sell-on-daraz main {
  background-color: #fff;
}
.sell-on-daraz main .bg-banner-blue {
  background-color: #055d75 !important;
}
.sell-on-daraz main .online-marketing {
  color: #212121;
}
.sell-on-daraz main .online-marketing p {
  padding: 7px 0px;
  font-size: 16px;
}
.sell-on-daraz main .online-marketing p span {
  color: #2c82c9;
}
.sell-on-daraz main .online-nav .selling-center {
  text-align: center;
}
.sell-on-daraz main .online-nav .selling-center a {
  text-decoration: none;
  color: #2c82c9;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
}
.sell-on-daraz main .seller-faq {
  background-color: #8e8b8b;
}
.sell-on-daraz main .seller-faq h4 {
  padding: 15px;
  text-align: center;
  font-weight: 600;
}
.sell-on-daraz main .faq-question .faq p {
  padding: 10px 0px;
  font-size: 16px;
}
.sell-on-daraz main .faq-question .plus p {
  color: #f36f36;
  padding: 10px 0px;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  header .bottom-navbar .navbar-brand img {
    width: 50% !important;
  }
  header .bottom-navbar form {
    margin-top: 10px;
  }
  header .cart {
    width: 40%;
  }
  header .gif-img {
    width: 60%;
  }

  main .ads a {
    background-size: 159vw;
    background-position-x: -30vw;
    height: 65px;
  }
  main .channels .channels-group a {
    width: auto;
    font-size: 16px;
    padding: 0px 7px;
  }
  main .flash-sell .sell-container .sale-countdown {
    text-align: left;
  }
  main .flash-sell .sell-container .sale-countdown > div {
    width: auto;
  }
}/*# sourceMappingURL=style.css.map */